.content {
    justify-content: center;
}

.content .firstCard {
    max-width: 25%;
}

.content .secondCard {
    max-width: 75%;
}

.content .secondCard .secondCardContent{

}

.aboutContainer .presentation {
    padding: 1rem;
}


.content .imageDiv{
    padding: 0;
    margin: 0;
    width: 100%;
}

.content .imageDiv img {
    /*max-width: 100%;*/
    /*min-width: 50%;*/
    width: 100%;
    object-fit: cover;
}

.content .buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content .profileInfo {
    padding: 0.5vh;
    margin: 0 auto;
}

.content .profileInfo .profileInfoGrid {
    display: grid;
    text-align: start;
    grid-gap: min(1vh, 1.5rem);
    grid-template-columns: 1fr 1fr;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    .buttonDiv {
        display: flex;
        flex-direction: column !important;
    }

    .content .firstCard {
        max-width: 35%;
    }

    .content .secondCard {
        max-width: 65%;
    }

    .aboutContainer .presentation {
        padding: .5rem;
        font-size: .8rem;
    }

}


