.card {
    border-radius: 4px;
    background-color: #fff;
    box-sizing:border-box;
    /*background-color: rgba(144, 152, 161, 1);*/
    /*max-width: 100%;*/
    margin: .5rem max(2vh, 1.5rem) max(2vh, 1.5rem);
    /*margin-inline: max(20vh, 2rem);*/
    justify-content: center;
    /*overflow: scroll;*/
    padding: 0;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);*/
    flex: 1;
}

/*.card > * {*/
/*    flex: 1;*/
/*}*/