.navbar {
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);*/
    flex-basis: auto; /* This will set their heights to their content's height by default */
}

.navbar ul{
    list-style: none;
    display: flex;

}

.navbar ul li {
    /*transition: background-color 50ms ease-in, color 50ms ease-in;*/
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    font-size: max(1.2rem, .5rem);
    padding: max(2vh, 1vh) 1rem max(1.5vh, .5rem);
    /*font-family: 'SeoulHangang', sans-serif;*/
    color: #1e1f21;
    justify-content: center;
    display: flex;
}

.navbar ul a {
    text-decoration: none;
    min-width: 25%;

}
.icon {
    margin-right: max(.2rem);
    /*transition: background-color 50ms ease-in, color 50ms ease-in;*/
}

    /*.navbar ul li {*/
/*    flex: 1;*/
/*}*/



.navbar li:hover, .navbar li:hover .icon {
    background: rgb(51, 51, 115);
    color: #fff;
}