.navbar {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);*/
    flex-basis: auto;
}

#logo{
    justify-content: start;
}

#logo #logoDiv {
    display: flex;
    font-size: 1.3rem;

    /*color: #ff5757;*/
    /*-webkit-text-stroke: .1rem white;*/
}

#logo #logoDiv img{
    object-fit: cover;
    height: 2rem;
    margin-right: .5rem;
}

#logo:hover {
    background-color: transparent !important;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li {
    /*transition: background-color 50ms ease-in, color 50ms ease-in;*/
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    /*font-size: max(1.2rem, .5rem);*/
    padding: max(2vh, 1vh) 1rem max(1.5vh, .5rem);
    /*font-family: 'SeoulHangang', sans-serif;*/
    display: flex;
    justify-content: center;
    min-width: 50%;
}

.navbar ul a {
    text-decoration: none;
    min-width: 15%;
}
.icon {
    margin-right: max(.2rem);
    /*transition: background-color 50ms ease-in, color 50ms ease-in;*/
}

.navbar .navbarImgDiv img {
    object-fit: cover;
    width: 2vw;
    position: absolute;
    height: 4vh;
    top: 10px;
}

.navbar li:hover, .navbar li:hover .icon {
    background: rgb(255, 87, 87);
    color: #fff;
}


#hamburgerMenu {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}


#navbarOpen {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;
}

#navbarClose {
    display: flex;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 1000px) {
    #navbarClose {
        display: none;
    }

    #hamburgerMenu {
        display: block;
    }

    #navbarOpen {
        display: flex;
        flex-direction: column;
    }
}

/*764879FF*/
