.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: 0 auto;*/
    /*margin: 50px;*/
    margin: 2vh min(4vh, 1.5rem);

}

.cardLayout {
    display: flex;
    /*margin: 0 auto;*/
    gap: 2rem max(2vh, 4rem);
    justify-content: center;
}

.page .pageHeader .pageTitle{
    font-weight: 400;
    margin: 2vh 0;
    color: #93969a;
}
