body, html, * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  /*overflow: hidden;*/
  padding: 0;
  color: rgba(0, 0, 0, 1);
}

body {
   background-color: rgba(201, 206, 206, 1);;
}

/*body::before {*/
/*  content: "";*/
/*  background: url('../public/images/HD-wallpaper-green-3d-mosaic-texture-green-mosaic-background-gradient-abstraction-texture-green-abstract-background-creative-green-backgrounds.jpg') no-repeat center center fixed;*/
/*  background-size: cover;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  opacity: 0.4;*/
/*  z-index: -1;*/
/*}*/

::selection {
  background-color: rgba(32, 36, 40, 0.6);
  color: #fff;
}

@font-face {
  font-family: 'SeoulHangang';
  src: url(../fonts/SeoulHangangCBL.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

